.navigation__link, .contact .contact__link, .mobileNav__link, .hero__title, .advantages__title, .advantages__paragraph, .services__title, .variation__paragraph, .staff__title, .profile__name, .profile__job, .clients__title, .address, .footerContact__link, .joint__title, .footerLabel, .modal__title, .modal__label, .modal__textarea, .filterResult__paragraph, .filterResult__title, .filterResult__category {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.8;
}

.logo, .footerLogo__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.hero__title, .modal__title,
.visuallyHidden,
.advantages__title,
.services__title,
.staff__title,
.clients__title,
.filterResult__title,
.profile__name,
.joint__title {
  color: var(--primary-text-color);
  margin: 0 auto;
}

.navigation, .contact, .mobileNav, .advantages, .variation, .profile, .nav, .group, .footerContact, .footerNav, .buttonList, .filterResult {
  list-style: none;
  /* display:flex; */
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo, .navigation__link, .contact .contact__link, .mobileNav__link, .nav__link, .group__link, .footerLogo__link, .footerContact__link, .footerNav__link {
  text-decoration: none;
  /* display:flex; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header, .heroListContainer, .servicesContainer, .staffContainer, .clientsContainer, .footerContainer, .portfolioContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .header, .heroListContainer, .servicesContainer, .staffContainer, .clientsContainer, .footerContainer, .portfolioContainer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header, .heroListContainer, .servicesContainer, .staffContainer, .clientsContainer, .footerContainer, .portfolioContainer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header, .heroListContainer, .servicesContainer, .staffContainer, .clientsContainer, .footerContainer, .portfolioContainer {
    width: 1200px;
  }
}

.heroList, .services, .staff, .clients, .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.variation__item, .profile__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 276px;
  font-size: 24px;
  line-height: 1.16;
  color: #212121;
}

.logo__accent-color {
  color: #2196f3;
}

.buttonMobile {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonMobile.is-open .iconMenu {
  display: block;
}

.buttonMobile.is-open .iconCross {
  display: none;
}

.buttonMobile:hover, .buttonMobile:focus {
  fill: #2196f3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.iconMenu {
  display: none;
}

.mobileMenu {
  position: absolute;
  display: none;
  padding: 48px 40px;
  margin: 0;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: white;
}

.mobileMenu.is-open {
  display: block;
}

.navigation {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  position: relative;
  color: #212121;
}

.navigation__link--currColor {
  color: #2196f3;
}

.contact {
  margin-left: auto;
  margin-top: 302px;
  margin-bottom: 0;
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact__link:hover, .contact .contact__link:focus {
  color: #2196f3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact__link--tel {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}

.contact .contact__link--email {
  font-size: 24px;
  line-height: 1.16;
}

.contact--direction {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.contact__item:not(:last-child) {
  margin-top: 32px;
}

.contact__icon {
  display: none;
  width: 16px;
  height: 12px;
  margin: 0;
  margin-right: 10px;
  fill: currentColor;
}

.contact__icon--size {
  width: 10px;
  height: 16px;
}

.mobileNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 64px;
}

.mobileNav__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobileNav__icon {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 220px;
  text-align: center;
  background-color: #2f303a;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #2196f3;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.advantages {
  margin: 0;
  padding: 0;
}

.icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon__svg {
  width: 450px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.advantages__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  width: 450px;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
}

.services {
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .services {
    display: none;
  }
}

.services__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.variation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.variation__item:not(:first-child) {
  margin-left: 30px;
}

.frontTextBlock {
  position: relative;
}

.frontTextBlock::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.variation__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 83px;
  bottom: 27px;
}

.staff {
  background-color: #f5f4fa;
}

.staff__title {
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.profile {
  margin: 0;
  padding: 0;
}

.profile__card {
  background-color: #fff;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.profile__pic {
  width: 450px;
}

.profile__info {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.profile__job {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__item:not(:first-child) {
  margin-left: 10px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  color: #afb1b8;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  background-color: #2196f3;
  color: white;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group__item {
  margin: 15px;
}

.group__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  padding: 16px 32px;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group__link:hover, .group__link:focus {
  border-color: #2196f3;
  color: #2196f3;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footerBlock {
  margin: 0;
  padding: 0;
}

.footerLogo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerLogo__accent-color {
  color: #2196f3;
}

.footerLogo__reverse-color {
  color: white;
}

.address {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.address__paragraph {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.footerContact {
  margin: 0;
  padding: 0;
}

.footerContact__item {
  margin-bottom: 8px;
}

.footerContact__link {
  color: #ffffff99;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footerContact__link:hover, .footerContact__link:focus {
  color: #2196f3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.joint__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.footerNav__item:not(:first-child) {
  margin-left: 10px;
}

.footerNav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footerNav__link:hover, .footerNav__link:focus {
  background-color: #2196f3;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footerNav__icon {
  fill: currentColor;
}

.footerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
}

.footerInput {
  min-width: 450px;
  height: 50px;
  padding-left: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-left: 29px;
  padding-right: 28px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #2196f3;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footerButton__icon {
  margin-left: 10px;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.buttonClose {
  position: absolute;
  right: 2%;
  top: 2%;
  min-width: 30px;
  min-height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 6px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonClose:hover, .buttonClose:focus {
  fill: #2196f3;
}

.buttonClose__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContainer {
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: start;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

.modal__label {
  text-align: start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modalBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  padding-left: 42px;
  min-height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.modal__input:focus ~ .modal__icon {
  fill: #2196f3;
}

.modal__textarea {
  resize: none;
  text-align: start;
  padding: 12px 16px;
  margin-bottom: 20px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
}

.modal__checkboxInput {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal__checkboxIcon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
}

.modal__checkboxInput:checked + .modal__checkboxIcon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
}

.modal__paragraph {
  padding: 0;
  margin: 0;
}

.modal__checkboxLink {
  color: #2196f3;
}

.modal__button {
  padding: 10px 56px;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #2196f3;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.portfolio {
  border-top: 1px solid #eeeeee;
}

.buttonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.buttonList__item:not(:first-child) {
  margin-left: 8px;
}

.buttonList__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonList__btn:hover, .buttonList__btn:focus {
  color: white;
  background-color: #2196f3;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filterResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.filterResult__item {
  width: 370px;
  margin: 15px;
  border: 1px solid #eeeeee;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filterResult .filterResult__item {
  margin: 15px;
}

.filterResult__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filterResult__box {
  position: relative;
  overflow: hidden;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filterResult__overlay {
  display: inline-block;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  bottom: -100%;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filterResult__overlay:hover {
  bottom: 0;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filterResult__item:hover .filterResult__overlay {
  bottom: 0;
}

.filterResult__paragraph {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  left: 24px;
  top: 63px;
  right: 24px;
  bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  color: white;
}

.filterResult__card {
  padding: 20px 24px;
}

.filterResult__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filterResult__category {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}
/*# sourceMappingURL=main.css.map */