.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-pic-mobile.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 118px 60px;
  text-align: center;
  background-color: #2f303a;

  @media screen and (min-width: 1200px) {
    padding-top: 180px;
    padding-bottom: 220px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-pic-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-pic-tablet.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-pic-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-pic-desktop.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-pic-desktop@2x.jpg');
    }
  }
}

.hero__title {
  @extend %h1, %main-font;
  margin-bottom: 30px;

  font-weight: 900;

  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.heroList {
  @extend %section;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.heroListContainer {
  @extend %container;
}
.advantages {
  @extend %ul-item;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-evenly;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages .advantages__item {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item:not(:first-child) {
    margin-left: 30px;
  }
}

.icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .icon__svg {
      width: 450px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .icon__svg {
      width: 354px;
    }
  }
}
.visuallyHidden {
  @extend %h2, %visually-hidden;
}
.advantages__title {
  @extend %h2, %main-font;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantages__paragraph {
  @extend %main-font;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (max-width: 478px), (min-width: 1200px) {
    width: 270px;
  }

  font-size: 14px;
  line-height: 1.71;
}
