%main-font {
  font-family: 'Roboto', sans-serif;
  color: $paragraph-text-color;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.8;
}
@mixin mainFont($type: red) {
  font-family: 'Roboto', sans-serif;
  color: $type;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.8;
}
// --------------------------
%logo-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
